<html>
  <head>
    <title>Flash Draft</title>
    <style>
      body {
        background-color: black;
        color: white;
      }
      .content {
        margin: auto;
        max-width: 800px;
      }
      .character-name {
        color: red;
      }
      .location-name {
        color: blue;
      }
      .narrated {
        padding-left: 0px;
      }
      .speaker {
        padding-left: 200px;
      }
      .spoken {
        padding-left: 100px;
      }
    </style>
  </head>
  <body>
    <div class="content">
      {{ content }}
    </div>
  </body>
</html>
